.header {
    background-color: $red-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px 0px 15px;
    height: 150px;
    z-index: 1;
    position: relative;

    &__language {

        &--button {

            &:first-child {
                margin-right: 10px;
            }

            &-selected {
                filter: brightness(0.4);
            }
        }

        &--flag {
            width: 48px;
            height: 32px;
            object-fit: cover;
        }
    }
}

